
/** start _account_sidebar_right.scss partial **/
.sidebar_right {
	width:194px;
	color:white;
	float:right;
	border: 3px solid gray;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 1px 25px #888888;
	border-top: none;
	margin-bottom: 60px;
	position: relative;

    .sidebar_right_title {
        color:$bg-yellow;
        font-size:22px;
        font-family:arial;
        padding:12px;
        text-align:left;
        background: $bg-blue;

        &:hover {
            color:white;
            cursor: pointer;
        }
    }
    
    .cats_right {
        text-align:left;

        p {
            text-align: center;

            img {
                height: 150px;
                width: 150px;
            }
        }
    
        li {
            list-style:none;
            margin:5px;
        }
        
        a {
            color: $bg-blue;
            padding:0px;
            margin:10px;
            text-align:left;
            font-size:18px;
            text-decoration:none;
            font-family:'comic sans ms';

            &:hover {
                color:$bg-blue-hover;
            }
        }
    }
}

/** end _account_sidebar_right.scss partial **/