
/** start _admin_area.scss partial **/
.header {
	width: 1000px;
	height: 120px;
	background: $bg-blue;
	border-bottom: 5px groove $admin-border;
}

.left {
	width: 795px;
	height: 800px;
	background: $bg-yellow;
	float: left;
    h2 {
        text-align: left;
    }
}

.right {
	width: 200px;
	height: 800px;
	float: right;
	border-left: 5px groove $admin-border;
	background: $bg-blue;
    
    a {
        text-decoration: none;
        color: white;
        text-align: left;
        font-size: 18px;
        font-family: Platino;
        padding: 6px;
        margin: 6px;
        display: block;
        
        &:hover {
            text-decoration: underline;
            font-weight: bolder;
            color: $admin-border;
        }
    }
    
    h2 {
        text-align: left;
    }
}

/** end _admin_area.scss partial **/