
/** start _footer.scss partial **/
#footer {
	width:1000px;
	height:400px;
	clear:both;
	text-align:center;
	padding-top:30px;
	border-top: 2px solid gray;
	margin-top: 100px;
    
    h2 {
        text-align:center;
        padding-top:30px;
    }
}
/** end _footer.scss partial **/