
/** start _inputs.scss partial **/
.account_button {
	background-color: $bg-blue;
    border: none;
    @include border-radius(3px);
    color: $bg-yellow;
    padding: 12px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: Lucida Console;
    margin: 4px 2px 15px 2px;
    cursor: pointer;
}

.account {
	padding: 10px 20px;
	margin: 8px 0;
	border: 1px solid grey;
    @include border-radius(3px);
	width: 100%;
	font-family: Lucida Console;

    &:focus {
        border: 1px solid $bg-blue;
        @include border-radius(0px);
    }
}

table.account {
	width:350px;
	margin:20px auto;
	border: 1px solid gray;
	padding:20px;
	box-shadow: 0 0px 1px 0;
	background-color: white;
	text-align: center;
	color: gray;

    b {
        color: black;
    }

    a {
        text-decoration:none;
        color:#7E9BD2;
    }
}

/** end _inputs.scss partial **/
