
/** start _menu_bar.scss partial **/
.menubar {
	width:994px;
	height:50px;
	background:#007dc6;
	color:yellow;
	border: 3px solid gray;
    
    .menu {
        padding:0;
        margin:0;
        margin-left:50px;
        line-height:50px;
        float:left;
        
        li {
            list-style:none;
            display:inline;
        }
        
        a {
            text-decoration:none;
            color:#ffc120;
            padding:10px;
            margin:10px;
            font-size:20px;
            font-family:Lucida Console;
            
            &:hover {
                color:white;
                text-decoration:underline;
            }
        }
        
    }
    
    .form{
        float:right;
        padding-right:10px;
        line-height:50px;
    }
}
/** end _menu_bar.scss partial **/