
/** start _products_box.scss partial **/
#products_box{
	width:780px;
	text-align:center;
	margin-left:30px;
	padding:30px;
    
    .single_product {
        float:left;
        margin: 0 10px 10px 10px;
        border: 1px solid #ddd;
        @include border-radius(4px);
        padding: 5px;
        
        .panel {
            padding:10px;
            width: 180px;
            height: 180px;
            float: left;
            @include perspective('500');
            transform-style: preserve-3d;
            @include transition-delay('200ms');
            text-align: center;
            color: black;

            &:hover {
                transform: rotateY(180deg);
                cursor: hand;
                cursor: pointer;
            }
        }

        .panel {
            .front,
            .back {
                backface-visibility: hidden;
                border: 2px solid gray;
                @include border-radius(5px);
                height: 180px;
                width: 180px;

                img{
                    backface-visibility:hidden;
                    width: 180px;
                    height: 180px;
                }
            }

            .back {
                transform: rotateY(180deg);
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &>a:first-of-type {
            float: left;
        }
        
        &>a:last-of-type {
            float: right;
        }
        
    }
}
/** end _products_box.scss partial **/
