
/** start _status_bar.scss partial **/
#shopping_cart {
	width:800px;
	height:50px;
	background: $bg-yellow;
	color:black;
    
    span {
        float:right;
        font-size:18px;
        padding:5px;
        line-height:40px;

        b {
            color:white;
        }
        a:first-of-type {
            color: white;
        }
    }
}
/** end _status_bar.scss partial **/
