@import 'utilities/normalize';
@import 'utilities/variables';
@import 'utilities/mixins';

@import '_status_bar';
@import '_sidebar_left';
@import '_footer';
@import '_products_box';
@import '_menu_bar';
@import '_account_sidebar_right';
@import '_admin_area';

@import '_inputs';


body {
	background:white;
}

tr td {
	vertical-align: middle;
}

.main_wrapper{
	width:1000px;
	height:auto;
	margin:auto;
	background:white;
}

.content_wrapper {
	width:1000px;
	margin:auto;
	background: $bg-yellow;
}

.header_wrapper{
	width:1000px;
	height:150px;
	margin:auto;
	background:black;
}

#content_area {
	width:800px;
	float:right;
	background: white;
	margin-bottom: 100px;
}

.cart_table {
	float:right;
	width:700;
	border:3px solid gray;
	@include border-radius(0 0 5px 5px);
	box-shadow:1px 1px 25px #888888;
	border-top: none;
	margin-right: 50px;
}
